<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button>
    </ion-menu-button>
  </ion-buttons>
    <ion-title slot="end">Stared Songs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    
    <ion-card *ngFor="let recomend of recomends">
     
      <ion-card-header>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
         <ion-col></ion-col> 
         <ion-col></ion-col> 
         <ion-col></ion-col> 
         <ion-card-subtitle>{{recomend.genre}}</ion-card-subtitle>
           </ion-row>
      
        <ion-card-title>
              <ion-col>{{recomend.song}} - {{recomend.singer}}</ion-col> 
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{recomend.comment}}
      
      </ion-card-content>
      
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col> <ion-col></ion-col> <ion-col></ion-col> <ion-col></ion-col>
     
     <ion-fab-button expand="block" size="small" color="warning" (click)="unstar(recomend)"><ion-icon name="heart-sharp" color="danger"></ion-icon></ion-fab-button> 
  
    </ion-row>
     
    
    </ion-card>
  
  </ion-list>
  
  </ion-content>

<ion-item>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/recommendations">
      <ion-icon name="planet" aria-hidden="true"></ion-icon>
      <ion-label>Recommendations</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/my-recommendations">
      <ion-icon name="flame" aria-hidden="true"></ion-icon>
      <ion-label>My Recommendations</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-item>

