.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-content{
    --background: #a9dce3 ;
  }
  
  ion-modal {
    --height: auto;
  }
  ion-input{
    --background:#2f1e7e;;
    --padding-start:33px;
    height: 55px;
    border-radius: 25px;
    margin-bottom: 20px;
    --placeholder-color:#ffffff;
    --color: #fff;
  }
  ion-select{
    color: #000000;
  }
  ion-text-area{
    --background-color:#2f1e7e;;
    --padding-start:33px;
    height: 55px;
    border-radius: 25px;
    margin-bottom: 20px;
    --placeholder-color:#ffffff;
    --color: #fff;
  }
 